@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400;500&family=Lato:ital,wght@0,400;1,300&family=Montserrat:wght@300;400;500;600&family=Oswald:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background: url(../pics/wallp.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Navigation bar and menu*/
header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    text-transform: uppercase;
    font-family: Changa, sans-serif;
}

.menu h1 {
    float: left;
    letter-spacing: 2px;
    font-size: 48px;
    margin-left: 25px;
    color: #06283D;
}

.menu ul {
    float: right;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    list-style-type: none;
}

.menu li {
    margin-right: 24px;
}

.menu li a {
    margin: 20px auto;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    color: #06283D;
}

/* Information cards section */

.info_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 29rem;
}

.divinfo {
    display: inline-flex;
}

.infologo {
    width: 95px;
    height: 70px;
    border-radius: 15px;
    margin-right: 12px;
    background-color: #fff;
}

.infologo img {
    width: 95px;
    height: 70px;
}

.infotext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

/* Option Cards */

section .option_cards {
    position: absolute;
    bottom: 6%;
}

.option_cards {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#card1,
#card2,
#card3 {
    width: 32%;
    float: left;
    padding: 30px 0 0 10px;
    background-color: rgba(6, 40, 61, 0.6);
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.option_cards a {
    text-decoration: none;
    color: #47B5FF;
}

#card1 {
    background-image: url(../pics/hand-drawing-doodle-book-illustration-icon-continuous-line-style-vector-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

#card2 {
    background-image: url(../pics/vetor-trophies\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#card3 {
    background-image: url(../pics/teste2-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Footer */

footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #06283D;
}

.social-networks {
    text-align: center;
    margin-top: 15px;
}

.social-networks>li {
    display: inline;
    margin-top: 15px;
}

.social-networks a {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    text-decoration: none;
    list-style-type: none;
    color: #47B5FF;
}

/* History and Trophies section*/
.history {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    background: rgba(6, 40, 61, 0.7);
}

.history span {
    margin: 206px 15px;
    width: 1px;
    height: 450px;
    background-color: #fff;
}

.clogo img {
    width: 250px;
    height: 250px;
}

.htext p {
    max-width: 1200px;
    line-height: 24px;
    font-size: 17px;
    text-align: justify;
    font-family: Lato, sans-serif;
    color: #fff;
    margin-right: 24px;
}

/* Sign Up page */

main {
    width: 64%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;

    background-color: rgba(6, 40, 61, 0.7);
}

aside {
    margin-left: 0px;
    margin-right: 16px;
}

aside h2 {
    font-size: 56px;
    color: #fff;
    line-height: 24px;
    text-align: justify;
}

aside p {
    margin-top: 16px;
    line-height: 20px;
    max-width: 350px;
    color: #fff;
    text-transform: uppercase;
    text-align: justify;
}

main span {
    width: 1px;
    height: 400px;
    background-color: #fff;
}

img {
    width: 320px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

article {
    margin-left: 24px;
}

input {
    margin-top: 14px;
    height: 16px;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid #47B5FF;
    font-size: 15px;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #47B5FF;
    color: white;
    font-weight: bold;
}